<html>
 <body>
  <h1>Lista de compras</h1>
   <h2>Supermaxi</h2>
   <section>
   <h3>
    <ul>
     <li>Pollo<br><li>Carne de Res<br><li>Chocolate</li>
     <li>Aceite<br><li>Leche<br><li>Azucar</li>
     <li>Fideos<br><li>Atun<br><li>Arroz</li>
     <li>Champiñones<br><li>Espinaca<br><li>Clorox</li>
    </ul>
   </h3>
   </section>
   <section>
    <form>
     <label><b>Metodo de pago:</b></label>
      <select name="pago">
      <option>Efectivo</option>
      <option>Tarjeta</option>
      </select> 
    </form>
   </section>
   <section>
    <br><button>Comprar</button>
   </section> 
 </body>
</html>