<html>
  <head>
    <title>Lista de compras</title>
    <meta name="autor"
    content="Luis Vidal">
  </head>  
  <body>
    <h1>Lista de compras</h1>
    <img src="https://proyectofinalticspvr.files.wordpress.com/2013/07/logo-supermaxi.png"
    width=350>
    <h2>
      <ul>
        <li>Pollo<br><li>Carne de Res<br><li>Chocolate</li>
        <li>Aceite<br><li>Leche<br><li>Azucar</li>
        <li>Fideos<br><li>Atun<br><li>Arroz</li>
        <li>Champiñones<br><li>Espinaca<br><li>Clorox</li>
      </ul>
    </h2>
  <section>
  <form>
    <h3>
     <label>Metodo de pago:</label>
       <select name="pago">
       <option>Efectivo</option>
       <option>Tarjeta</option>
       </select> 
    </h3>
  </form>
  </section>
  <section>
    <button>Comprar</button>
   </section> 
 </body>
</html> 